/* .transition-fade{
    opacity: 1;
    transition: 500ms;
    transform:  translateX(0);
    transform-origin: left;
}
html.is-animating .transition-fade{
    opacity: 1;
    transform: translateX(100%);

}
html.is-leaving .transition-fade{
    opacity: 0;
    transform: translateX(0);

}
html.is-rendering .transition-fade{
    
} */
body{
    padding: 0;
    margin: 0;
    background-color: #585858;
}
.nav{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #343434;
    position: sticky;
    top: 0;
    z-index: 5;
}
.icon{
    
    transform: scale(2.5);
    color: #EF4A4A;
}
.logo{
    margin: 0 2vh 0 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 10vh;
}
.btnHolder{
    height: max-content;
    width: max-content;
}
.navOption{
    color: #343434;
    background-color: #EF4A4A;
    border: 2px solid rgb(0, 0, 0);
    height: 7vh;
    min-width: 12vh;
    max-width: max-content;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    border-radius: 3.5vh ;
    margin: 0 5vh 0 5vh;
}
.fact{
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
.homeImg{
    height: 75vh;
    width: 100%;
    background-image: url("resources/young-healthy-man-athlete-doing-exercise-with-ropes-gym-single-male-model-practicing-hard-training-his-upper-body-concept-healthy-lifestyle-sport-fitness-bodybuilding-wellbeing.jpg");
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: self-end;
}
.title{
    font-size: xx-large;
    color: aliceblue;
    position: absolute;
    top: 13vh;
    left: 8vh;
    z-index: 0;
}
.start{
    height: 10vh;
    min-width: 20vh;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5vh;
    font-size: large;
    font-weight: bold;
    max-width: max-content;
    margin: 0 20vh 10vh 20vh ;
}
.facts{
    width: 100%;
    height: 20vh;
    margin: 11vh 0 11vh 0;
}
p{
    margin: 0;
}
.backImg{
    height: 20vh;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 10vh 10vh 0;
    border: 3px solid black;
    color: rgb(255, 255, 255);
}

#cover2{
    display: flex;
    justify-content: right;
}

#box1{
    border-radius: 0 10vh 10vh 0;
    background-image: url("resources/download.jpg");
    background-position: 0 -200px;
    background-size: cover;
}
#box2{
    border-radius: 10vh 0 0 10vh;
    background-image: url("resources/side-view-shot-fit-young-athletic-man-jumping-running.jpg");
    background-position: 0 -125px;
    background-size: cover;
}
#box3{
    border-radius: 0 10vh 10vh 0;
    background-image: url("resources/7\ Benefits\ of\ HIIT\ \(High\ intensity\ interval\ training\).jpg");
    background-position: 0 -300px;
    background-size: cover;
}

.selectionRow{
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.muscleOption{
    margin-left: 10vh;
    margin-top: 5vh;
    height: 30vh;
    width: 25vh;
    border: 2px solid aliceblue;
    border-radius: 20px;
}

.muscleImg{
    height: 50%;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.muscleContent{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-radius: 0 0 20px 20px;
    height: 50%;
    width: 100%;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.musleOptionSelected{
    border:2px solid #EF4A4A;
}

.muscleContentSelected{
    background-color: #EF4A4A;
    color: aliceblue;
}

#ABDOMINALS{
    background-image: url(resources/abdominal.png);
    background-size: cover;
    background-position: 5px -20px;
}

#ABDUCTORS{
    background-image: url(resources/abductors.png);
    background-size: cover;
    background-position: 0px -48px;
}

#ADDUCTORS{
    background-image: url(resources/adductors.png);
    background-size: cover;
    background-position: 0px -48px;
}

#BICEPS{
    background-image: url(resources/biceps.png);
    background-size: cover;
    background-position: -8px 0px;
}

#CALVES{
    background-image: url(resources/calves.png);
    background-size: cover;
    background-position: -8px -50px;
}

#CHEST{
    background-image: url(resources/chest.png);
    background-size: cover;
}

#FOREARMS{
    background-image: url(resources/forearm.png);
    background-size: cover;
}

#GLUTES{
    background-image: url(resources/glutes.png);
    background-size: cover;
    background-position: 8px 0px;

}

#HAMSTRINGS{
    background-image: url(resources/hamstrings.png);
    background-size: cover;
    background-position: 0px 0px;
}

#LATS{
    background-image: url(resources/Lats.png);
    background-size: cover;
    background-position: 0px -20px;
}

#LOWER{
    background-image: url(resources/LowerBack.png);
    background-size: cover;
    background-position: 0px -20px;
}

#MIDDLE{
    background-image: url(resources/middleBack.png);
    background-size: cover;
    background-position: 0px -20px;
}

#NECK{
    background-image: url(resources/neck.png);
    background-size: cover;
    background-position: 17px 0px;
}

#QUADRICPES{
    background-image: url(resources/quadriceps.png);
    background-size: cover;
}

#TRAPS{
    background-image: url(resources/traps.png);
    background-size: cover;
    background-position: 17px -50px;

}
#TRICEPS{
    background-image: url(resources/triceps.png);
    background-size: cover;
    background-position: 5px -45px;

}
.plan{
    margin-top: 10vh;
    margin-right: 10vh;
    color: aliceblue;

}
.end{
    height: 50vh;
    width: 100%;
    background-color: #343434;
    margin-top: 5vh;
}
#made{
   padding-top: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#link{
    margin-left: 8px;
    color: aliceblue;
}
.text{
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.creds{
    display: flex;
    justify-content: center;
    align-items: center;
}
.links{
    margin: 20vh;
    transform: scale(4);
}
.muscleOption:hover{
    border: 2px solid #EF4A4A;
}

.muscleContent:hover {
    background-color: #EF4A4A;
    color: aliceblue;
}